body{
    background-image: url(images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%) ;
}
.container {
    display: flex;
    width: 80%;
    margin:  100px auto;
}
.left{
    flex: 50%;
    align-self: center;
}
.left .text{
    color: white;
    width: 70%; 
    margin: auto;
}
.right{
    flex: 30%;
}
.try{
    width: 100%;
    background-color: hsl(248, 32%, 49%);
    text-align: center;
    color: white;
    padding: 20px 0;
    border-radius: 10px;
    margin: 20px 0;
}
form{
    background-color: white;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}
input{
    width: 80%;
    margin: auto;
    display: block;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid gray;
}
input[type='button'] {
    background-color:  hsl(154, 59%, 51%);
    border: none;
    color: white;
    width: 90%;
}
.input {
    position: relative;
    margin: 40px 0;
}
.icon {
    position: absolute;  
    bottom: 30%;
    right: 10%;
    display: none;
}
.error {
    float: right;
    color: hsl(0, 100%, 74%);
    display: none;
}
@media (max-width: 375px) {
    body{
        background-image: url(images/bg-intro-mobile.png);
    }
    .container {
        flex-direction: column;
        width: 90%;
        margin: 50px auto;
    }
    .left {
        margin-bottom: 30px;
    }
    .left .text{
        text-align: center;
        width: 100%;
        margin: 0;
    }
    .input{
        margin: 10px 0;
    }
    input[type= "button"]{
        width: 100%;
    }
}